In [23]:
import pandas as pd

dataFbarrios = pd.read_csv("./barrios.csv", sep=",")
dataFcasos = pd.read_csv("./casos.csv", sep=",")
dataFcomunas = pd.read_csv("./comunas.csv", sep=",")

print("1")
c3 = dataFbarrios.comuna == 3
barrios3 = dataFbarrios[["barrio","perimetro","area"]]
print(barrios3[c3])

1
           barrio    perimetro          area
12  SAN CRISTOBAL  5987.226479  2.043711e+06
24      BALVANERA  8375.821811  4.342280e+06

In [24]:
print("2")
c410 = (dataFbarrios.comuna > 4) & (dataFbarrios.comuna < 10)
barrios410 = dataFbarrios[["barrio","perimetro","area"]]
print(barrios410[c410])

2
               barrio     perimetro          area
4             ALMAGRO   8537.901368  4.050752e+06
5           CABALLITO  10990.964471  6.851029e+06
9              FLORES  15772.439510  8.590784e+06
13              BOEDO   6602.510266  2.609851e+06
17          MATADEROS  11124.635792  7.398179e+06
18       VILLA LUGANO  15057.468389  9.296142e+06
30  PARQUE AVELLANEDA  10165.614028  4.732708e+06
31   PARQUE CHACABUCO   8406.914321  3.832117e+06
34    VILLA RIACHUELO  10596.826739  4.232596e+06
35      VILLA SOLDATI  12441.695877  8.688164e+06
38            LINIERS   9256.927321  4.374419e+06

In [25]:
print("3")
comunaBarrios = dataFbarrios["comuna"]
comunaBI5 = dataFbarrios.comuna[dataFbarrios.index == 5]
comunaInt = dataFcomunas.COMUNAS==int(comunaBI5)
combarri5 = dataFcomunas[["COMUNAS","PERIMETRO","AREA"]]
print(combarri5[comunaInt])

3
   COMUNAS     PERIMETRO          AREA
1      6.0  10990.964471  6.851029e+06

In [26]:
print("4")
cV = dataFbarrios.barrio.str.startswith('V')
barriosCV = dataFbarrios.comuna[cV].unique().tolist()
for i in barriosCV:
  print("Comuna",i)

4
Comuna 15
Comuna 11
Comuna 10
Comuna 8
Comuna 12

In [27]:
print("5")
cA = dataFbarrios.barrio.str.contains('A')
barriosA = dataFbarrios[["barrio","area"]]
print(barriosA[cA])

5
               barrio          area
0           CHACARITA  3.115707e+06
1            PATERNAL  2.229829e+06
2        VILLA CRESPO  3.615978e+06
3    VILLA DEL PARQUE  3.399596e+06
4             ALMAGRO  4.050752e+06
5           CABALLITO  6.851029e+06
6    VILLA SANTA RITA  2.153691e+06
7        MONTE CASTRO  2.627481e+06
8          VILLA REAL  1.334146e+06
10           FLORESTA  2.320641e+06
12      SAN CRISTOBAL  2.043711e+06
14    VELEZ SARSFIELD  2.400518e+06
15         VILLA LURO  2.566937e+06
16   PARQUE PATRICIOS  3.743440e+06
17          MATADEROS  7.398179e+06
18       VILLA LUGANO  9.296142e+06
19          SAN TELMO  1.232270e+06
20           SAAVEDRA  5.538677e+06
21            COGHLAN  1.279951e+06
22      VILLA URQUIZA  5.449059e+06
23         COLEGIALES  2.289774e+06
24          BALVANERA  4.342280e+06
25  VILLA GRAL. MITRE  2.162275e+06
26        PARQUE CHAS  1.385412e+06
27          AGRONOMIA  2.122169e+06
28      VILLA ORTUZAR  1.853802e+06
29           BARRACAS  7.953453e+06
30  PARQUE AVELLANEDA  4.732708e+06
31   PARQUE CHACABUCO  3.832117e+06
32      NUEVA POMPEYA  4.951511e+06
33            PALERMO  1.584587e+07
34    VILLA RIACHUELO  4.232596e+06
35      VILLA SOLDATI  8.688164e+06
36   VILLA PUEYRREDON  3.303240e+06
37       VILLA DEVOTO  6.404481e+06
39          VERSALLES  1.406834e+06
40      PUERTO MADERO  5.040971e+06
41          MONSERRAT  2.198622e+06
42        SAN NICOLAS  2.289008e+06
43           BELGRANO  7.999240e+06
44           RECOLETA  6.317265e+06
47               BOCA  5.036240e+06

In [28]:
print("6")
comunaC15 = dataFcasos.comuna[dataFcasos.index == 15]
comunavalor = dataFcomunas.COMUNAS==int(comunaC15)
print(dataFcomunas.PERIMETRO[comunavalor])

6
12    21411.738344
Name: PERIMETRO, dtype: float64

In [29]:
print("7")
barrioC7 = dataFcasos.barrio[dataFcasos.index == 7]
bar = barrioC7.tolist()[0]
condicion = dataFbarrios.barrio == bar
barDf = dataFbarrios[["barrio","area"]]
print(barDf[condicion])

7
             barrio          area
3  VILLA DEL PARQUE  3.399596e+06

In [30]:
print("8")
c6m7m = (dataFcasos.numero_de_caso > 6000000) & (dataFcasos.numero_de_caso < 7000000)
casoscomuna = dataFcasos.barrio[c6m7m]
b = dataFbarrios.barrio.isin(casoscomuna)
barriosDf = dataFbarrios[["barrio","comuna"]]
print(barriosDf[b])

8
              barrio  comuna
0          CHACARITA      15
4            ALMAGRO       5
9             FLORES       7
11      CONSTITUCION       1
17         MATADEROS       9
20          SAAVEDRA      12
22     VILLA URQUIZA      12
28     VILLA ORTUZAR      15
29          BARRACAS       4
31  PARQUE CHACABUCO       7
33           PALERMO      14
42       SAN NICOLAS       1
43          BELGRANO      13
44          RECOLETA       2
45            RETIRO       1

In [31]:
print("9")
b3 = dataFbarrios.barrio[dataFbarrios.index == 3].tolist()[0]
barr = dataFcasos.barrio == b3
B3df = dataFcasos[["genero","edad"]]
print(B3df[barr])

9
        genero  edad
7    masculino    29
150  masculino    30
354  masculino    52
459   femenino    25
509   femenino    41

In [32]:
print("10")
bei = dataFcasos.barrio[dataFcasos.tipo_contagio == "En Investigación"]
bei1 = dataFbarrios.barrio.isin(bei)
barrioeidf = dataFbarrios[["barrio"]]
print(barrioeidf[bei1])

10
               barrio
0           CHACARITA
7        MONTE CASTRO
9              FLORES
11       CONSTITUCION
13              BOEDO
14    VELEZ SARSFIELD
17          MATADEROS
18       VILLA LUGANO
19          SAN TELMO
20           SAAVEDRA
24          BALVANERA
25  VILLA GRAL. MITRE
29           BARRACAS
30  PARQUE AVELLANEDA
31   PARQUE CHACABUCO
33            PALERMO
35      VILLA SOLDATI
41          MONSERRAT
44           RECOLETA
46              NUÑEZ

In [33]:
print("11")
bme = dataFcasos.barrio[dataFcasos.edad < 18]
bmec = dataFbarrios.barrio.isin(bme)
bmedf = dataFbarrios[["barrio"]]
print(bmedf[bmec])

11
           barrio
0       CHACARITA
4         ALMAGRO
5       CABALLITO
9          FLORES
17      MATADEROS
18   VILLA LUGANO
22  VILLA URQUIZA
32  NUEVA POMPEYA
37   VILLA DEVOTO
43       BELGRANO
44       RECOLETA
45         RETIRO

In [34]:
print("12")
cbmy4 = dataFbarrios.barrio[dataFbarrios.index < 4]
bbc = dataFcasos.barrio.isin(cbmy4)
csdf = dataFcasos[["numero_de_caso","genero","edad"]]
print(csdf[bbc])

12
     numero_de_caso     genero  edad
7           7673498  masculino    29
19          7673629  masculino    68
49          7692683  masculino    25
99          7718539  masculino    18
150         7721916  masculino    30
154         7722007  masculino    31
160         7725230  masculino    58
161         7725232  masculino    33
167         7726081   femenino    35
208         7735475  masculino    34
230         7736770  masculino    69
231         7736847  masculino    45
240         7736991  masculino    77
264         7717778  masculino    43
266         7717796   femenino    38
280         7718104  masculino    63
346         9690247   femenino    58
354        10487114  masculino    52
379         8367848   femenino    40
413         6270671  masculino    56
435        15519416   femenino    42
437         1629445   femenino    27
446         5018271  masculino    72
451         5362506  masculino    72
459         5321867   femenino    25
509         7721664   femenino    41
566         4888070   femenino    21
569         4927681   femenino     7

In [35]:
print("13")
nocm13 = dataFcomunas.COMUNAS[dataFcomunas.COMUNAS != 13]
cc13 = dataFcasos.comuna.isin(nocm13)
csDF = dataFcasos[["numero_de_caso","genero","edad"]]
print(csDF[cc13])

13
     numero_de_caso     genero  edad
2           7673340   femenino    12
3           7673364   femenino    55
5           7673446  masculino    63
7           7673498  masculino    29
9           7673546   femenino    34
..              ...        ...   ...
588         5149936   femenino    74
590         5166041  masculino    55
591         5166069  masculino    37
593         5178556  masculino    22
594         5178787   femenino    23

[306 rows x 3 columns]